<a href="https://colab.research.google.com/github/rafaelsangarcia/AEP/blob/master/Semana4/IBM/IBM_Modulo1_A01182780.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module 1

In this module is about 

* Problem requiring data analysis
* Dataset to be analyzed in Python
* Overview of Python Package or data analaysis
* Importing and Exporting data
* Insight

##Module 1 - The Problem

Why data analysis?

Data is everywhere, and help us to answer questino about data

get insights

##Module 1  - Understanding Data
It is imporntat to see the description of the data set

A python library is a collection of function and methods that allow do action without writing the code It is divide in 3 groups:

* Scientific computing libraries: like pandas to maniuplate data and analysis and it is fast. it has dataframe which is the most important elementes, Numpy and scipy too

* Visualization libraries. is to create graphs and maps. We have matplolib and seaborn.

* Algorithmic. To do modeling and prediction , like scikit learn and stastmodels

##Module 1 - Importing and exporting data.

Importing is a procesing to load and read data into pyton, it could be imported for differente sources. It has 2 important keys: Format(.csv. json, .xlsl) and the file path of data which is were is stored.

In [8]:
import pandas as pd
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(url)
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

we can see that this data set does not have headers, that is why we need to tell pandas dont include headers.

In [9]:
df = pd.read_csv(url, header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Using .head(n) , will just print n number of rows, to an easy visualization, same as .tail(n)


Because it does not have header we can impute the headers, just we need to create the array of headers and then use df.columns = headers
```
headers=['symboling','normalized-losses'...]

df.columns = headers
```

we can also export the dataset to a csv



```
path = 'C:/Windows\...\automobile.csv'
df.to_csv(path)
```